<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="/public/css/signin.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">MK News+</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/mynews">Favorites Feeds</a>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome! to MK News+</h1>
      <h3 class="display-3">A Warm Welcome <%=name.firstname%> <%=name.lastname%></h3>
      <p class="lead"></p>
      <a href="/mynews" class="btn btn-primary btn-lg">Favorites News</a>
    </header>

    <!-- Page Features -->
    <!-- Page Features -->
    <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/dQRtm2IQi-73qRiQTfQtTiCU5cfnjNlBtTsi1qn0pq83pKCXR71299eMXryq89KLUtvl" style="width: 500; height: 325;" alt="">
                <div class="card-body">
                  <h4 class="card-title">General</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="/news/General" class="btn btn-primary">Find Out More!</a>
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://pbs.twimg.com/profile_images/603973993012428800/Z1_Vrldp_400x400.png" style="width: 500; height: 325;"alt="">
                <div class="card-body">
                  <h4 class="card-title">Businesse</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="/news/Businesse" class="btn btn-primary">Find Out More!</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <img class="card-img-top" src="https://clickfor.net/wp-content/uploads/2018/05/Entertainment-News_9a3bf.jpg" style="width: 500; height: 425;" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Entertainment</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                  </div>
                  <div class="card-footer">
                      <a href="/news/Entertainment" class="btn btn-primary">Find Out More!</a>
                  </div>
                </div>
              </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://www.ishn.com/ext/resources/Generic/Responsive-default/HealthNews.jpg?1577123127" style="width: 500; height: 425;" alt="">
                <div class="card-body">
                  <h4 class="card-title">Health</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="/news/Health" class="btn btn-primary">Find Out More!</a>
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="https://media.npr.org/images/podcasts/primary/icon_432311921-653f296b97891b32cd2cd99bc769d30619dae27f.jpeg?s=1400" style="width: 500; height: 425;"alt="">
                <div class="card-body">
                  <h4 class="card-title">Science</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="/news/Science" class="btn btn-primary">Find Out More!</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <img class="card-img-top" src="http://gufsd.org/wp-content/uploads/2018/06/Sports-News.jpg" style="width: 500; height: 425;" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Sports</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                  </div>
                  <div class="card-footer">
                      <a href="/news/Sports" class="btn btn-primary">Find Out More!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                    <img class="card-img-top" src="https://www.centrinity.com/wp-content/uploads/2017/07/technews.jpg" style="width: 500; height: 425;"alt="">
                    <div class="card-body">
                      <h4 class="card-title">Technology</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/news/Technology" class="btn btn-primary">Find Out More!</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                      </div>
                    </div>
                  </div> -->
          </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>



</body>
<style>
  body{
    background: scroll center url('https://images7.alphacoders.com/422/thumb-1920-422251.jpg');
  background-size: cover;
  }
  </style>
</html>